* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --yellow: #f4c531;
    --white: #ffffff;
    --black: #000000;
}

body {
    background-color: var(--yellow);
}

.wrapper {
    box-sizing: content-box;
    width: 26.87em;
    padding: 2.5em 3em;
    background-color: var(--white);
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 0.6em;
    box-shadow: 0 0 0.9em  2.8em rgba(88, 66, 0, 0.2);
}

.game-container {
    position: relative;
    width: 100%;
    display: grid;
    gap: 0.6em;
}

.card-container {
    position: relative;
    width: 6.25em;
    height: 6.25em;
    cursor: pointer;
}

.card-before,
.card-after {
    position: absolute;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--black);
    transition: transform 0.7s ease-out;
    backface-visibility: hidden;
}

.card-before {
    background-color: var(--yellow);
    font-size: 2.8em;
    font-weight: 600;
}

.card-after {
    background-color: var(--white);
    transform: rotateY('180deg');
}

.card-container.flipped.card-before {
    transform: rotateY('180deg');
}

.card-container.flipped.card-after {
    transform: rotateY('0deg');
}